.grid-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: min-content;
}

.section-label-container {
    margin: 0 auto;
}

.plate-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 5px
}

.plate-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.plate-pair {
    padding: 2px;
    cursor: pointer;
}

.plate-pair:hover {
    background-color: #99aacc;
}

.plate-pair.selected {
    background-color: #5566ee;
}

.plate {
    width: 70px;
    padding: 10px;
    border: 1px solid #777777;
    border-radius: 5px;
    background-color: #cccccc;
}

p {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}